<div class="rewards_box_content">
  <div class="rewards_box_header">
    <h2 class="rewards_box_title">
      Bekijk je <span>rewards</span>
    </h2>
    <div class="rewards_box_description">
      Deze functie is momenteel niet beschikbaar
    </div>
  </div>
</div>

<div class="progressie_box_content">
  <div class="progressie_box_header">
    <h2 class="progressie_box_title">
      Bekijk je progressie in <span>gewicht</span>
    </h2>
    <div class="progressie_box_description">
      Voer hier de gewichten in
    </div>
  </div>
  <a mat-button="outlined" [routerLink]="['/weight']">Link</a>

</div>

<div class="bmi_box_content">
  <div class="bmi_box_header">
    <h2 class="bmi_box_title">
      Bekijk je <span>bmi</span>
    </h2>
    <div class="bmi_box_description">
      Deze functie is momenteel niet beschikbaar
    </div>
  </div>
</div>
