<body>

<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-headline">
      <div class="calendar-headline-control"></div>
      <div class="calendar-headline-control calendar-headline-control-today">
        Today
      </div>
      <div class="calendar-headline-control"></div>
    </div>
  </div>
  <div class="calendar-weeks-grid">
    @for (weekDay of weekDays(); track weekDay) {
      <div class="calendar-weeks-grid-cell">{{weekDay}}</div>
    }
  </div>
  <div class="calendar-grid">
    @for (dayOfMonth of daysOfMonth(); track $index) {
      <div [ngClass]="{ 'calendar-grid-cell' : true}"> {{ dayOfMonth.day }}</div>
    }
  </div>
</div>


<img ngSrc="/BenchPress.png" alt="Logo" width="350" height="350"  class="HomeImg">
<img ngSrc="/LatPull.png" alt="Image of a Latpull exercise" width="350" height="350" class="HomeImg">
<img ngSrc="/LegExercise.png" alt="Image of a leg extenstion" width="350" height="350" class="HomeImg">
</body>
