############################
# Node / npm
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Angular build output
############################
dist/
out-tsc/

############################
# Angular cache
############################
.angular/
.angular/cache/

############################
# Environment files (lokale secrets)
############################
src/environments/environment.local.ts

############################
# Testing / coverage
############################
coverage/

############################
# IDE / Editors
############################
.idea/
.vscode/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Temporary / misc
############################
*.log
*.tmp
*.swp
